<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>
    <title>Edit User</title>
</head>
<body class="container">
    <div class="my-container">
        <h2>Edit Form</h2>
        <div  class="edit-form">
            <form action="/users/edit/<%= id %>" method="POST">
                <div class="form-group label">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname" id="fname" class="form-control" value="<%= fname %>">
                </div>
                <div class="form-group label">
                    <label for="lname">Last Name</label>
                    <input type="text" name="lname" id="lname" class="form-control" value="<%= lname %>">
                </div>
                <div class="form-group label">
                    <label for="fname">Email</label>
                    <input type="email" name="email" id="email" class="form-control" value="<%= email %>">
                </div>
                <div class="form-group label">
                    <label for="fname">Phone Number</label>
                    <input type="text" name="pNo" id="pNo" class="form-control" value="<%= pNo %>">
                </div>
                <div class="my-edit-btn">
                <input type="submit" value="Edit" class="btn btn-primary ">
                </div>
            </form>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>
</html>